# This file have to created to path /etc/systemd/system/

[Unit]
Description=Alarm Memory Script
After=network.target

[Service]
Type=simple
User=andrew
WorkingDirectory=/home/andrew/projects/simple-crud/script/
ExecStart=/home/andrew/projects/simple-crud/script/venv/bin/python3 /home/andrew/projects/simple-crud/alarm-memory-script/main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target


# sudo systemctl daemon-reload
# sudo systemctl enable alarm_memory.service
# sudo systemctl start alarm_memory.service
